<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<ol>
  <% @playlist.sorted_playlistings.each do |playlisting| %>
  <li><%= link_to playlisting.song.name, playlisting.song %></li>
  <% end %>
</ol>
<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
