<%= form_with(model: potato, local: true) do |form| %>
  <% if potato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(potato.errors.count, "error") %> prohibited this potato from being saved:</h2>

      <ul>
      <% potato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :eyes %>
    <%= form.number_field :eyes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
